* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cosmic Sans";
    src: url("../assets/fonts/Ldfcomicsanslight-6dZo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cosmic Sans Bold";
    src: url("../assets/fonts/ComicSans-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url(../assets/images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Cosmic Sans", system-ui, sans-serif;
}


.container {
    padding: 0px 20px 0px 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

#welcome-container {
    width: 100%;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.heading-container h2 {
    text-align: center;
    font-size: 28px;
    color: #f1f1f1
}

.heading-container h1 {
    text-align: center;
    font-size: 28px;
    color: #f1f1f1;
    font-family: "Cosmic Sans Bold", system-ui, sans-serif;
}



.paragraph p {
    font-size: 12px;
    text-align: center;
    color: #afafaf;
}

button {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 16px;
    background: #12a66f;
    color: #fdfdfd;
    cursor: pointer;
    font-weight: 600;

}