.icon-container i {
    font-size: 150px;
    color: #fdfdfd;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

input {
    width: 300px;
    height: 40px;
    font-size: 13px;
    padding: 12px;
    border: 3px solid;
    border-radius: 5px;
    border-color: #43dba3;

}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}