body {
    /* height: 98vh; */
    font-family: Arial, sans-serif;
    padding: 12px;
    background-image: url(../assets/images/infoBg.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

.card {
    height: 88vh;
    overflow-y: scroll;
    max-width: 400px;
    margin: auto;
    border: 1px solid #cccccc5c;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 100%;
}

ul {
    padding-left: 20px;
}

/* Responsive breakpoints (empty by default) */
@media (max-width: 1200px) {
    body {
        background-size: fill;
    }

    /* Large tablets / small laptops */
}

@media (max-width: 992px) {
    /* Tablets */
}

@media (max-width: 768px) {
    /* Mobile */
}

@media (max-width: 576px) {
    /* Small mobile */
}