@font-face {
    font-family: "Cosmic Sans";
    src: url("../assets/fonts/Ldfcomicsanslight-6dZo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cosmic Sans Bold";
    src: url("../assets/fonts/ComicSans-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Main wrapper */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Cosmic Sans", system-ui, sans-serif;
}


.container {
    padding: 0px 20px 0px 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.heading-container h2 {
    margin-top: 16px;
    text-align: center;
    font-size: 28px;
    color: #fdfdfd;
}

.paragraph p {
    font-size: 12px;
    text-align: center;
    color: #afafaf;
}

.button-container {
    /* width: 100%; */
}

button {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 16px;
    background: #4da886;
    color: #fdfdfd;
    cursor: pointer;
}



#reader {
    width: 100%;
    height: 70%;
}

#reader video {
    width: 100% !important;
    height: 60vh;
    object-fit: cover;
}



.button-container {
    width: 100%;
}




/* Responsive breakpoints (empty by default) */
@media (max-width: 1200px) {
    /* Large tablets / small laptops */
}

@media (max-width: 992px) {
    /* Tablets */
}

@media (max-width: 768px) {
    /* Mobile */
}

@media (max-width: 576px) {
    /* Small mobile */
}