* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;

}


/* Main wrapper */
.container {
    width: 100%;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.heading-container h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    color: #1e1e1e;
}

.paragraph p {
    /* margin-top: 20px; */
    font-size: 12px;
    text-align: center;
    color: #a0a0a0;
}



#reader {
    width: 100%;
    height: 70%;
}

#reader video {
    width: 100% !important;
    height: 630px;
    object-fit: cover;
}

/* #qr-shaded-region div:nth-child(1) {
    top: -5px;
    left: 0px;
}

#qr-shaded-region div:nth-child(2){
    top: -5px;
    right: 0px
}
#qr-shaded-region div:nth-child(3){
    top: -5px;
    right: 0px
} */


.button-container {
    width: 100%;
}

button {
    width: 100%;
    border-radius: 10px;
    border: none;
    /* margin-top: 174px; */
    padding: 15px;
    font-size: 16px;
    background: #ff7d54;
    color: white;
    cursor: pointer;
}



/* Responsive breakpoints (empty by default) */
@media (max-width: 1200px) {
    /* Large tablets / small laptops */
}

@media (max-width: 992px) {
    /* Tablets */
}

@media (max-width: 768px) {
    /* Mobile */
}

@media (max-width: 576px) {
    /* Small mobile */
}