* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0px 20px 0px 20px;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;

}


/* Main wrapper */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.heading-container h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 28px;
    color: #1e1e1e;
}

.paragraph p {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #a0a0a0;
}

.camera {
    margin-top: 120px;
}


#reader {
    width: 300px;
    height: 225px;
}

video {
    width: 100%;
}

.button-container {
    width: 100%;
}

button {
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-top: 174px;
    padding: 15px;
    font-size: 16px;
    background: #ff7d54;
    color: white;
    cursor: pointer;
}



/* Responsive breakpoints (empty by default) */
@media (max-width: 1200px) {
    /* Large tablets / small laptops */
}

@media (max-width: 992px) {
    /* Tablets */
}

@media (max-width: 768px) {
    /* Mobile */
}

@media (max-width: 576px) {
    /* Small mobile */
}